	<div class= "article">
	<h2 class="dHeadline">{{{dHeadline}}}</h2>

	<img class="gImage" url({{imageUrl}}>

	<h3 class="dCaption"> {{{dCaption}}}</h3>
	<h3 class="dPhotoCredit">{{{dPhotoCredit}}}</h3>
	<h3 class="dDescription"> {{{dDescription}}}</h3>

    </div>
