	<div 
	<h2class="dHeadline">Place holder text for headline {{{dHeadline}}}</h2>
	
	<img class="gImage" url({{imageUrl}}>
	
	<h3class="dCaption">Place holder text for caption {{{dCaption}}}</h3>
	<h3class="dPhotoCredit">Place holder text for credit {{{dPhotoCredit}}}</h3>
	<h3class="dDescription">Place holder text for  description {{{dDescription}}}</h3>
    
    </div>