	<div class= "article">
	<h1 class="dHeadline">{{{dHeadline}}}</h1>

	<div class="g1Contain"><img class="g1Image" src={{imageUrl}}></div>

	<div class="capContain"><h3 class="dCaption"> {{{dCaption}}}</h3></div>
	<h3 class="dPhotoCredit">{{{dPhotoCredit}}}</h3>
	<br>
	<h3 class="dDescription"> {{{dDescription}}}</h3>

    </div>
