	<div class= "article">
	<h1 class="dHeadline">{{{dHeadline}}}</h1>

	<img class="gImage" src={{imageUrl}}>

	<h3 class="dCaption"> {{{dCaption}}}</h3>
	<h3 class="dPhotoCredit">{{{dPhotoCredit}}}</h3>
	<br>
	<h3 class="dDescription"> {{{dDescription}}}</h3>

    </div>
